<section id="main" class="column">
  <article class="module width_full">
    <div class="container">
      <button (click)="addCatagory()" type="button" class="btn btn-danger">
        <i class="fa fa-plus"></i>
        Add New</button>

      <accordion>
        <accordion-group *ngFor="let category of categories">
          <accordion-heading>
            {{category.name}}
            <button class="pull-right" (click)="edit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button  class="pull-right" (click)="delete('main', category.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </accordion-heading>
          <ol>
            <li *ngFor="let subcategory of category.subcategories.data">
              {{subcategory.name}}
              <button  class="pull-right" (click)="edit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button  class="pull-right" (click)="delete('sub', category.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </li>
          </ol>
        </accordion-group>
      </accordion>
      
    </div>
  </article>
</section>